{% extends "base.njk" %}
{% block content %}
<input type="hidden" id="csrfToken" name="_csrf" value="{{ csrfToken }}">
<h1 class="page-title">Titles List</h1>

<!-- Table of Titles -->
<div class="titles-list">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody id="title-list">
        {% if titles and titles.length > 0 %}
            {% for title in titles %}
                <tr>
                    <td><a href="/titles/{{ title.id }}">{{ title.name }}</a></td>
                    <td>{{ title.description }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">No titles found.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <!-- Cards for Mobile View -->
    <div class="card-list">
        {% if titles and titles.length > 0 %}
            {% for title in titles %}
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title"><a href="/titles/{{ title.id }}">{{ title.name }}</a></h3>
                        <p class="card-description">{{ title.description }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-records">No titles found.</p>
        {% endif %}
    </div>
</div>

<!-- Pagination -->
<div class="pagination-container">
    <div class="pagination">
        {% if pagination and pagination.current_page > 1 %}
            <a href="?page=1" data-page="1" class="btn-page">First</a>
            <a href="?page={{ pagination.previous_page }}" data-page="{{ pagination.previous_page }}" class="btn-page">Previous</a>
        {% endif %}

        {% if pagination %}
            <span class="current-page">
                Page {{ pagination.current_page }} of {{ pagination.total_pages }}
            </span>
        {% endif %}

        {% if pagination and pagination.has_next %}
            <a href="?page={{ pagination.next_page }}" data-page="{{ pagination.next_page }}" class="btn-page">Next</a>
            <a href="?page={{ pagination.total_pages }}" data-page="{{ pagination.total_pages }}" class="btn-page">Last</a>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script src="/js/title_list.js"></script>
{% endblock %}